.input-group-addon{
  border-radius: 0!important;
  line-height: 1!important;
}

.box{
  padding-top: 15px;
  padding-bottom: 15px;

}
.contact-info p{
  text-align: center!important;
}
.btn-div{
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn-group-vertical{
  width: 100%!important;

}
.btn{
  margin-top: 10px!important;
  margin-bottom: 10px!important;
  background-color: #80caa5!important;
  color:white!important;
}

.btn:hover {
  color: black!important;
}
.input-group-addon {
  min-width: 90px;
}
.input-group {
  margin-bottom: 10px!important;
}
.send-button{
  display: flex!important;
  justify-content: flex-end!important;
}
.btn-primary{
  border-color: #80caa5!important;
}

.left-div{
  width: 100%;
}
.left-column{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.error-p{
  color: red!important;
}
textarea{
  resize: none;
}
