.container p{
    margin-bottom: 0!important;
}

.boxAbout {
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 7px;
}

.boxAbout .box {
    height: 100%;
    position:relative;
}

.boxAboutRow {
    height: 250px;
    position: relative;
}

.boxAboutRowSlider {
    height: 210px;
    position: relative;
}

.boxAboutDataHolder {
    height: 100%;
    display: flex;
    align-items: center;
}
.boxAboutDataHolderSmall {
    height: 60px;
    display: flex;
    align-items: center;
}

.boxAboutButton {
    background-color: #80caa5!important;
    color: white!important;
    position: absolute;
    bottom: 10px;
    right: 25px;
}
.boxAboutButtonSmall{
  background-color: #80caa5!important;
  color: white!important;

}
.fbButton{
  padding-top: 3px;
}

.boxAboutButton:hover {
    color: #000!important;
}

.boxAboutImgHolder {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px!important;
}

.boxAboutImgHolderSmall {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px!important;
}

.boxAboutTitleHolder{
  height: 40px;
  padding-left: 10px;
}


.hidden {
    height: 0px!important;
}

.icon {
    color:black;
    margin-right: 5px;
}

.product {
    width: 140px;
    height: 140px;
    background-size: contain;
    background-repeat:   no-repeat;
    background-position: center center;
    position: relative;
    cursor: pointer;
}

.price {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    right: 0px;
    height: 40px;
    background-color:rgba(0, 0, 0, 0.5);
}

.price h3 {
    color: white!important;
    margin: 0!important;
}

.price h2 {
    color: white!important;
    margin: 0!important;
}

.slide-inner {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxAboutIcon {
    max-width: 80%!important;
    max-height: 80%!important;
}

.slider-container {
    height: 180px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}
.spinnerHolder {
    position:absolute;
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d8d2;
}

.pinned-row {
    background-color: rgb(255, 176, 100);
}

.pinned-row:hover {
    background-color: darkgoldenrod;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #80caa5;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
    body {
        font-size: 1.7em; /* 1.5x default size */
    }
    .pouter {
        width:100%;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.pslide {
    width: 170px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.pimage {
    width: 170px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pimage_i {
    max-width: 100%!important;
    max-height: 100%!important;
}