.box {
    width: 100%;
    background-color: #f0efed;
    -webkit-box-shadow: 5px 5px 5px 0 rgba(224,224,222,1);
    box-shadow: 5px 5px 5px 0 rgba(224,224,222,1);
    margin-bottom: 20px;
}

.boxTitle {
    width: 100%;
    height: 30px;
    background-color: #80caa5;
    color: #fff;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.boxTitle:hover {
    color: #000;
}

.shopHolder {
    height: 220px;
    cursor: pointer;
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   display: flex;
   align-items: center;
}

.shopHolder:hover {
    background-color: #d9d9d9;
}

.boxAboutImgHolder {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxAboutDataHolder {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxAboutIcon {
    margin-right: 15px;
}

.boxAboutRow {
    padding-left: 25px;
    padding-right: 25px;
}

.icon {
    color:black;
    margin-right: 5px;
}
