body {
    position: relative;
    background-color: #f6f6f6!important;
}

.box {
    width: 100%;
    background-color: #f0efed;
    -webkit-box-shadow: 5px 5px 5px 0 rgba(224,224,222,1);
    box-shadow: 5px 5px 5px 0 rgba(224,224,222,1);
    margin-bottom: 20px;
}

.boxTitle {
    width: 100%;
    height: 30px;
    background-color: #80caa5;
    color: #fff;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.boxTitle:hover {
    color: #000;
}

.boxRow {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #d9d8d2;
    padding: 5px;
    cursor: pointer;
}

.boxRow p {
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}

.boxRow:hover {
    background-color: #d9d8d2;
}

.boxAboutIcon{
    max-width: 95%!important;
    max-height: 95%!important;
}

.aboutholder {
    width: 100%;
}
.datatext{
    white-space: nowrap!important;
    text-overflow: ellipsis!important;
    overflow: hidden!important;
}
.datatitle {
    text-overflow: ellipsis!important;
    overflow: hidden!important;
}
.dataholder {
    width: 100%;
}
.boxAboutRow {
    width: 100%!important;
}
.vcenter {
    display: inline-block!important;
    vertical-align: middle!important;
    float: none!important;
}
.innerimageholder {
    display: flex;
    justify-content: center;
}