.tile {
    height: 300px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.tile:hover {
    background-color: rgba(0, 0, 0, 0.55);
}

.tilerow {
    width: 100%;
    margin: 0!important;
}

.tileimageholder {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tiletextholder {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tiletext {
    color: white;
    white-space: nowrap;
}

@media(max-width:767px){
    .tiletext{
        font-size: 20px;
    }
    .user-list-holder p {
        font-size: 12px;    
    }
}
@media(min-width:768px){
    .tiletext{
        font-size: 30px;
    }
    .user-list-holder p {
        font-size: 15px;    
    }
}
@media(min-width:992px){
    .tiletext{
        font-size: 25px;
    }
    .user-list-holder p {
        font-size: 18px;    
    }
}
@media(min-width:1200px){
    .tiletext{
        font-size: 30px;
    }
    .user-list-holder p {
        font-size: 20px;    
    }
}

.submenuholder {
    margin-top: 15px;
    margin-bottom: 15px;
}

.submenutitle {
    margin-top: 5px!important;
    margin-bottom: 15px!important;
}

.list-group {
    border: 1px solid #ddd;
    border-radius: 1.5%;
}

.list-group-item {
    margin-bottom: 0!important;
    margin-top: -1px!important;
}

.list-holder {
    max-height: 200px;
    overflow-y: auto;
}

.shop-list-item {
    cursor: pointer;
}

.selected {
    background-color: #bbbbbb!important;
}

.user-list-holder {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-list-holder p {
    margin-bottom: 0!important;
    margin-left: 5px!important;
    margin-right: 5px!important;
    max-width: 35%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}

.blog-list-holder button {
    margin-left: 5px!important;
    margin-right: 5px!important;
}

.blog-list-holder {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blog-list-holder p {
    margin-bottom: 0!important;
    margin-left: 5px!important;
    margin-right: 5px!important;
    max-width: 65%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}

.user-list-holder button {
    margin-left: 5px!important;
    margin-right: 5px!important;
}

.add-button-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#preview-img-blog {
    cursor: pointer;
    max-width: 100%!important;
    max-height: 200px!important;
}

#prod_holder {
    list-style-type: none;
    padding: 0 10px 0 10px;
}

#prod_holder img{
    max-height: 80%;
    max-width: 80%;
}

.delete-row {
    cursor: pointer;
}

.pin-row {
    cursor: pointer;
    position:absolute;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0px;
    right: 48px;
}

.pin-row:hover {
    color:red;
}
#prod_preview-img {
    max-height: 300px;
}