.box {
    width: 100%;
    background-color: #f0efed;
    -webkit-box-shadow: 5px 5px 5px 0 rgba(224,224,222,1);
    box-shadow: 5px 5px 5px 0 rgba(224,224,222,1);
    margin-bottom: 20px;
}

.boxTitle {
    width: 100%;
    height: 30px;
    background-color: #80caa5;
    color: #fff;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.boxTitle:hover {
    color: #000;
}

.boxAboutImgHolder {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxAboutIconTop {
    max-width: 80%!important;
    max-height: 80%!important;
    margin-left: 15px;
}

.boxAboutIcon{
    max-width: 80%!important;
    max-height: 80%!important;
    margin-left: 15px;
}

.icon {
    color:black;
    margin-right: 5px;
}

.boxAboutDataHolder {
    height: 220px;
    display: flex;
    align-items: center;
}

.textHolder {
    margin: 10px 20px 30px 20px;
}

.labelHolder {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.labelHolder a {
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #80caa5!important;
    color: white!important;
    border-radius: 15%;
    padding: 3px;
    cursor: pointer;
    text-decoration: none;
}

.labelHolder a:hover {
    color: black!important;
    text-decoration: none;
}
.product {
    width: 190px;
    height: 190px;
    background-size: contain;
    background-repeat:   no-repeat;
    background-position: center center;    
    position: relative;
    cursor: pointer;
}

.price {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    right: 0px;
    height: 40px;
    background-color:rgba(0, 0, 0, 0.5);
}

.price h2 {
    color: white!important;
    margin: 0!important;
}

.slide-inner {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-container {
    height: 250px;
    padding-left: 50px!important;
    padding-right: 50px!important;
    padding-bottom: 30px;
}
.boxAboutRow {
    height: 250px;
}

.rightColumn {
    margin: 0px!important;
    max-height: 100px;
}
@media (min-width: 992px) {
    .rightColumn {
        overflow-y: scroll;
    }
}
@media (max-width: 992px) {
    .rightColumn {
        max-height: none!important;
    }
}
.shopHolder {
    height: 220px;
    cursor: pointer;
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.shopHolder:hover {
    background-color: #d9d9d9;
}

.leftColumn .fa, .rightColumn .fa{
    width: 21px;
    height:21px;
}

.pinned {
    background-color: orange;
}

.pinned:hover {
    background-color: darkgoldenrod;
}

.aboutholder {
    width: 100%;
}
.datatext{
    white-space: nowrap!important;
    text-overflow: ellipsis!important;
    overflow: hidden!important;
}
.datatitle {
    text-overflow: ellipsis!important;
    overflow: hidden!important;
}


.boxAboutDataHolderSmall {
    align-items: center;
}


.boxAboutButtonSmall{
  margin-right: 5px;
  background-color: #80caa5!important;
  color: white!important;

}

.boxAboutImgHolderSmall {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dataholder-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataholder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.dataholder .datatext {
  margin: 0;
}