.col-md-6 {
  border: 2px solid black;
  height: 350px;
}

.title{
  font-size: 40px;
}

a:link{
  text-decoration: none!important;
}
a:hover{
  text-decoration: none!important;
}

.asd {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.logo_img{
  flex: 3 0 auto;
  margin:  0 auto;
  padding: 0!important;
  margin: 0!important;
}
.search_input{
  margin-top: 7px;
  flex: 1 0 auto;
  height: 30px;
}

@media screen and (max-width: 860px) {
  .asd{
    flex-direction: column;
  }
}
