.navbar {
  display: flex;
  align-items: flex-start;
}
.upper_img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.logo_img{
  flex: 3 0 auto;
  margin:  0 auto;
  padding: 0!important;
  margin: 0!important;
}
.search_input{
  margin-top: 7px;
  flex: 1 0 auto;
  height: 30px;
}

@media screen and (max-width: 860px) {
  .upper_img{
    flex-direction: column;
    align-items: flex-start;
  }
  .search_input{
    width: 100vw;
  }
}
